<!DOCTYPE html>
<html>
  <head>
    <title>PosiTwt</title>
  </head>
  
  <body style="text-align:center; font-family: Arial; background-color:lightgreen; color:darkcyan">
    <h1>PosiTwt</h1>
    
    <h3>twt posi pls<h3>
    
    <h5><i>thank u luv u bye</i></h5>
    
    <p>hope u have a great day bbys</p>
  
    <img src="https://i.gyazo.com/dcd95584165570f897f99a056b3d0ae2.png">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<%= yield %>

    <br><br><img src="https://i.ytimg.com/vi/JTA5vwDAElc/hqdefault.jpg">

  </body>

</html>
